# Visual Studio Code
.vscode/.extensions
.vscode/.user.data
.vscode/settings.json
.vscode/.linux/.dotnet
.vscode/.linux/.bash_history
.vscode/.linux/.bashrc
.vscode/.linux/.font_state
.vscode/.linux/dotnet-install.sh
.vscode/.linux/oh-my-posh
.vscode/.linux/oh-my-posh.json

# Linux packages
**/os/arch
**/os/deb
**/os/rpm
**/os/flatpak
**/os/targz

# Build results
src/**/[Dd]ebug/
src/**/[Rr]elease/
src/**/[Bb]in/
src/**/[Oo]bj/

apps/**/[Dd]ebug/
apps/**/[Rr]elease/
apps/**/[Bb]in/
apps/**/[Oo]bj/

**/publish
**/node_modules/
packages/**/dist

# Release archives
devenv.tar.bz2

