.back
{
  color: transparent;

  &:hover
	{
    color: var(--bs-gray-500);
  }

  path
	{
    fill: var(--bs-gray-800);
  }
}

@if $enable-dark-mode
{
  @include color-mode(dark, true)
	{
    .back
		{
      path
			{
        fill: var(--bs-gray-400);
      }
    }
  }
}
