$white:    #fff !default;
$gray-100: #f0f0f0 !default;
$gray-200: #d6d6d6 !default;
$gray-300: #bdbdbd !default;
$gray-400: #a3a3a3 !default;
$gray-500: #8a8a8a !default;
$gray-600: #707070 !default;
$gray-700: #575757 !default;
$gray-800: #3d3d3d !default;
$gray-900: #242424 !default;
$black:    #000 !default;

$blue:    #5f8ae8 !default;
$indigo:  #9576d1 !default;
$purple:  #a576d1 !default;
$pink:    #d176a4 !default;
$red:     #e85f5f !default;
$orange:  #e8a65e !default;
$yellow:  #e8d25e !default;
$green:   #76d176 !default;
$teal:    #76d1b2 !default;
$cyan:    #76d1d1 !default;

$primary: #0074c2 !default;
